body {
	background: url(img/Background.png);
	color: #fff;
	background-size: cover;
	margin: 0;
}
.wrapper {
	width: 86%;
	margin: 0 auto;
}

.start-page {
	padding-top: 134px;
}

.start-page__title {
	font: bold 54px/57px 'RobotoBold', sans-serif;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 14px;
}

.start-page__subtitle {
	font: normal 20px/20px 'RobotoRegular', sans-serif;
	margin-top: 0;
	margin-bottom: 64px;
}

.start-page__menu__level {
	margin-bottom: 30px;
}

.level-item {
	font: bold 49px/50px 'RobotoBold', sans-serif;
	margin-bottom: 34px;
	padding-left: 50px;
	position: 	relative;
}

.active::before {
	content: "";
	position: absolute;
  	left: 0px;
  	top: 15px;
  	background-image: url(img/Rectangle.png);
  	width: 26px;
  	height: 26px;
}

.start-page__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: 	relative;
}

.start-page__button {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 31px 82px;
	font: bold 32px/34px 'RobotoRegular', sans-serif;
	color: #fff;
	background: #D62B2E;
	border-radius: 7px;
	margin-top: 84px;
}

.start-page__cards {
	position: absolute;	
	right: 68px;
    bottom: 0;	
	width: 57%;
	height: 417px;
	background: 100% url(img/cards.png) no-repeat;
	
}

.off {
	display: none;
}

.game__field {
	width: 100%;
	display: none;
	justify-content: center;
	align-content: center; 
	flex-wrap: wrap;
	height: 100vh;
	margin: 0 auto;
}

/* класс создан в JS для рубашки карты*/
.card {
	background: url(img/card.png);
	background-size: cover;
}

.card, .flip-card-game_over {
	width: 218px;
	height: 341px;
	margin-right: 24px;
	margin-bottom: 24px;
	border-radius: 7px;
}

.card:hover {
	transform: translateY(-10px) rotate(-5deg);
	transition: 1s;
	box-shadow: 7px 7px 15px 0 #2f2f2f;
}

.flip-card-game_over {
	background: url(img/card-game_over.png);
	background-size: cover;
}

@media(max-width: 1112px) {
	.card, .flip-card-game_over {
		width: 200px;
		height: 312px;
	}

	.wrapper {
		width: 96%;
	}
}

@media(max-width: 996px){
	.start-page__cards {
	display: none;	
	}
}

@media(max-width: 768px) {
	.card, .flip-card-game_over {
		width: 160px;
		height: 246px;
	}

	.game__field {
		max-width: 691px;
	}
}

/*это для 10 карт*/

@media(max-width: 415px) {
	.card, .flip-card-game_over {
		width: 85px;
		height: 131px;
		margin-right: 12px;
	}
}

@media(max-width: 376px) {
	.card, .flip-card-game_over {
		margin-right: 0;
		width: 72px;
		height: 111px;
		margin-bottom: 12px
	}
}


@media(max-width: 321px) {
	.card, .flip-card-game_over {
		width: 60px;
   		height: 92px;
	}
}

